$colours: (
    background: #E5E5E5,
    header: #F4F3EE,
    white: #FFFFFF,
    pink: #C32C72,
    black: #262626,
    grey: #BCB8B1,
);

$font-header: 'Open Sans', sans-serif;
$font-main: 'Archivo Narrow', sans-serif;

@import "layout";
@import "base";
@import "nav";
@import "footer";
